body{

margin:0;

font-family:Arial;

overflow:hidden;

}



#menu{

height:100vh;

background:#1b5e20;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}



button{

padding:15px 40px;

font-size:20px;

border-radius:20px;

border:none;

background:#ff9800;

color:white;

}



#map{

display:none;

position:relative;

width:100vw;

height:100vh;

}



.background{

position:absolute;

width:100%;

height:100%;

object-fit:cover;

}



#player{

position:absolute;

width:120px;

left:80px;

bottom:80px;

z-index:5;

}



.npc{

position:absolute;

width:100px;

cursor:pointer;

}



.guru{

left:35%;

top:40%;

}



.monster{

right:20%;

top:30%;

}



.kristal{

right:10%;

bottom:20%;

}
